<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartUV blog</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <section class="nav-links">
        <nav>
            <img src="images/logo.PNG" alt="logo">
            <div class="nav-links">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Products</a></li>
                    <li><a href="#">How It Works</a></li>
                    <li><a href="#">Blogs</a></li>
    
                </ul>
            </div>
        </nav>
    </section>
        <section class="hero-btn"> 

                <div class="hero-page">
                    <h1>Time to get Your House <br> Clean and in Order</h1>
                    <p>To have good air quality is not as moving away from the city to a 
                    <br>quiet suburb or rural environment.</p>

                    
                    <a href="#" class="btn">Read Article</a>
                </div>
            </section>
            <section class="product">
                <div class="row">
                    <div class="pro-list">
                        <img src="images/bottle.jpeg">
                        <h1>Time to Get Your House <br>Clean and in Order</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisici <br>
                            ng elit. Enim dolores tempora quo.</p>
        
                        <a class="btn2" href="#">Read Article</a>
                    </div>
        
                    <div class="pro-list2">
                        <img src="images/web 3.PNG">
                        <h1>How VOC Affects Your <br>IndoornAir quality</h1>
                        <p>Using UV Light for disinfection is becoming an <br> essential hygiene practice for both home and work spaces.</p>
        
                        <a href="#" class="btn2">Read Article</a>
                    </div>
        
                    <div class="pro-list3">
                        <h1>The Benefit of Using UV-C <br>
                        Light in the Hospitality Industry</h1>
        
                        <p>Experience Clean and easier breathing <br>
                        of Your restaurant with the latest in <br>
                         chemical free cleaning technology</p>
        
                        <a href="#" class="bbb">Read in 3 minutes</a>
        
                         <h1>What is UV-C Light</h1>
        
                         <p>Most People have a basic knowledge of <br>
                            Ultraviolet(UV) light from tanning and vitamin D</p>
        
                        <a href="#" class="bbb">Read in 3 minutes</a>
        
                        <h1>UV Light at Home</h1>
        
                        <p>Everything You Should Know About Using <br>
                        a UV Lamp in the Kitchen</p>
        
                        <a href="#" class="bbb">Read in 3 minutes</a>
                   </div>
                </div>
            </section>
            <section class="how">
                <h1>The Science Behind SmartUV</h1>
                <a class="btt" href="#">See All Articles</a>
            </section>
        
            <div class="ggg">
                <div class="how-list">
                    <img src="images/first.PNG">
        
                    <h1>Chemical Free Cleaning</h1>
                    <p>We have all learned about germs the hard <br>
                    way sickness.</p>
        
                    <a href="#" class="bbb">Read in 2 minutes</a>
                </div>
        
                <div class="how-list2">
                    <img src="images/sec.PNG">
        
                    <h1>What is UV-C Light</h1>
                    <p>UV-C light is growing in popularity as a <br> 
                        form of disinfection - but it isn't new.</p>
        
                        <a href="#" class="bbb">Read in 8 minutes</a>
                </div>
        
                <div class="how-list2">
                    <img src="images/third.PNG">
        
                    <h1>Lesser-Known Uses of UV</h1>
                    <P>Safety practices were developed to best <br>
                    handle with care.</P>
        
                    <a href="#" class="bbb">Read in 1 minutes</a>
                </div>
        
                <div class="how-list2">
                    <img src="images/fourth.jpeg">
                    <h1>UV Light in Healthcare</h1>
                    <p>It's most common to see UV-C used in <br>
                    hospitals as it is sterilizing the air.</p>
        
                    <a href="#" class="bbb">Read in 12 minutes</a>
                </div>
            </div>
        
            <section class="blog">
                <div class="row">
                <div>
                    <h1>7 Big Myths About UV Light You <br>
                    Shouldn't Believe</h1>
        
                    <p>Throughout the Years, Several experts have progressed in <br>
                    innovating UV's applications with a myriad of opportunities</p>
        
                    <a href="#" class="bbb">Read in 2 minutes</a>
                    
                    <h1 class="HHH">The Significant Benefits of Using UV-C</h1>
                </div>
        
                <div>
                    <img src="images/lassadf.jfif">
                </div>
                </div>
        
            </section>

</body>
</html>
